#myTitle{
  background-color: rgb(65, 65, 65);
  color: rgb(208, 157, 94) ;
  font: large ;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  padding: 3% ;
}

.topnav {
    background-color: rgb(208, 157, 94) ;
    padding: 2%;
}

.topnav a.active {
    background-color: rgb(230, 86, 150);
    color: black;
}

.topnav a {
    color: black;
    text-align: center;
    padding: 8px 10px;
    font-size: 16px;
    background-color:rgb(230, 86, 150);
    text-decoration: none;
}

.topnav a:hover {
    background-color: black;
    color: rgb(230, 86, 150)
}

.dropdown-button {
    position: relative;
    display: block ;
    float: right;
}

.dropdown-details {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 50px;
    align-self: auto;
    color: black
}

.dropdown-details a {
    color: white;
    padding: 8px 14px;
    text-decoration: none;
    display: block ;
}

.dropdown-details a:hover {
    background-color: black;
    color: rgb(230, 86, 150)
}

.dropdown-button:hover .dropdown-details {
    display: block;
}
body{
    text-align: center;
    background-color: rgb(65, 65, 65);
}

.form-container{
    padding: 2%;
    margin-top: 0%;
}

section{
    background-color: black ;
    color:rgb(208, 157, 94) ;
    align-items: center;
}
a{
    color:whitesmoke ;
    background-color: black;

}

.card-position-center {
    margin: auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-position-top {
    margin: auto;
    position: 30px;
    top: 8%;
    width: 80%;

}

.card-position-relative {
    margin: auto;
    position: absolute;
    top: 80%;
    width: 80%;
    margin: 5%;
}

/* Creates a card view */

.card {
    box-shadow: 0 4px 8px 0 rgba(189, 184, 184, 0.2);
    transition: 0.3s;
    padding: 8%;
    border-radius: 5px;
    align-items: center;
}

.card-user-profile {
    box-shadow: 0 4px 8px 0 rgb(255, 252, 252);
    transition: 0.3s;
    padding: 4%;
    border-radius: 5px;
    align-items: center;
}

.page_bottom{
    background-color: rgb(208, 157, 94);
    color: black;
    padding: 2%;
    }

#table-head{
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
#table-head td, #table-head th {
        border: 1px solid rgb(230, 86, 150);
        padding: 8px;
      }

#table-head tr:hover {background-color: rgb(230, 86, 150);
}

#table-head th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: rgb(208, 157, 94);
        color: black;
      }